@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Tahoma, Geneva, sans-serif;
}
body{
	background-color:#F7F8F7;
}
/* TOP NAVIGATION */
#top-nav{
	width:100%;
	background-color:white;
	font-size:14px;
	overflow:hidden;
	z-index:1;
}
#top-nav1{
	width:100%;
	background-color:white;
	font-size:14px;
	overflow:hidden;
	background:#EEEDEE;
	opacity:0.8;
	display:none;
	z-index:2;
}
#logo{
	width:40%;
	float:left;
	padding:15px 0px 15px 150px;
}
#top-menu{
	width:60%;
	float:right;
	padding:20px 0 20px 140px;
	line-height:10px;
}
#logo img{
	width:10%;
}
#top-menu ul{
	list-style-type:none;
	overflow:hidden;
	font-weight:bold;
}
#top-menu li{
	float:left;
	padding:20px;
}
#top-menu a{
	text-decoration:none;
	color:#808080;
}
#top-menu a:hover{
	text-decoration:underline;
	color:black;
}
.vertical-menu{
	display:none;
}
#top-menu li.icon{
	display:none;
}
.clear{
	clear:both;
}
/* GO TO TOP */
.arrow{
	position:fixed;
	z-index:2;
	bottom:50px;
	right:25px;
	display:none;
}
.arrow > i{
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:linear-gradient(#333, #666);
	color:white;
	font-size:22px;
	cursor:pointer;
}
/* MAIN BODY */
.body{
	position:relative;
	top:70px;
	background-color:white;
	margin:0 150px;
}
.body > h2{
	text-align:center;
	padding:30px 0;
	font-size:26px;
}
.body ul{
	list-style-type:none;
	padding-left:470px;
	overflow:hidden;
}
.body a{
	display:block;
	text-decoration:none;
	color:black;
	padding:15px 10px;
}
.body li{
	float:left;
	margin:0 2px;
	border:1px solid #F6F6F6 ;
}
.body a:hover{
	color:white;
	background-color:black;
}
.body hr{
	border-color:#F6F6F6;
	background-color:#F6F6F6;
}
#active{
	background-color:black;
	color:white;
}
.body ul ~ h2{
	font-weight:400;
	font-size:30px;
}
.body h2 > span{
	font-size:14px;
	color:#ADAFAF;
	font-weight:400;
	margin-left:20px;
}	
/* MENU */
.row{
	width:100%;
	margin-top:40px;
}
.row .col-text p{
	color:#A5A7A9;
}
.col-text p.sub-para{
	margin:60px 0;
}
/* MENU ODD ROW */
.row.odd, .row.even{
	overflow:hidden;
}
.row.odd .col-img{
	width:40%;
	margin-left:30px;
	float:left;
}
.row .col-img img{
	width:100%;
}
.row.odd .col-text{
	width:55%;
	float:left;
	overflow:hidden;
	margin-left: 30px;
    padding: 40px 0 0 50px;
}
.row.odd .col-text h2{
	color:#333;
	font-weight:400;
}
.row.odd .col-text hr{
	width:5%;
	margin:10px 0 80px 0;
	background-color:#D8D6D7;
}
.row.odd .left{
	width:45%;
	float:left;
	padding-left: 10px;
    font-size: 16px;
}
.row.odd .right{
	width:45%;
	float:left;
	padding-left: 80px;
    font-size: 16px;
}
#img-special{
	width:288px !important;
}
#food-special .left{
	width:38% !important;
}
#food-special .right{
	padding-left:125px !important;
}
/* MENU EVEN ROW */
.row.even .col-img{
	width:40%;
	float:right;
}
.row.even .col-text{
	width:55%;
	float:right;
	overflow:hidden;
	padding: 40px 0 0 50px;
}
.row.even .col-text h2{
	color:#333;
	font-weight:400;
}
.row.even .col-text hr{
	width: 5%;
    margin: 10px 0 80px 0;
	background-color:#D8D6D7;
}
.row.even .left{
	width:45%;
	float:left;
	padding-left: 10px;
    font-size: 16px;
}
.row.even .right{
	width:45%;
	float:left;
	padding-left: 80px;
    font-size: 16px;
}
/* CONTACT */
.contact{
	background-color:#EEEDEE;
	width:100%;
	margin-top:180px;
	overflow:hidden;
}
.contact .col{
	float:left;
	width:50%;
}
.contact .col ul{
	list-style-type:none;
	padding-left:150px;
	overflow:hidden;
}
.contact li{
	padding:30px 10px;
	line-height:30px;
	float:left;
}
.col table{
	padding-top:25px;
	font-size:14px;
}
.col [type=email]{
	height:35px;
	width:250px;
	margin-left:20px;
	font-weight:600;
}
.col [type=submit]{
	background-color:black;
	color:white;
	height:40px;
	width:100px;
	border-color:#EEEDEE;
}
/* FOOTER */
.footer{
	background-color:#222122;
	color:white;
	width:100%;
	padding:20px 0;
	display:flex;
}
.col-foot{
	width:14%;
	font-size:10px;
}
.col-foot hr{
	width:15%;
	margin:50px 0 10px 0;
	border-color:grey;
}
.col-foot.first{
	margin-left:160px;
}
.footer a{
	color:#909090;
	text-decoration:none;
}
.footer ul{
	list-style-type:none;
	margin-top:20px;
}
.footer li{
	margin-bottom:10px;
	font-size:12px;
	font-weight:600;
}
.footer a:hover{
	color:white;
	text-decoration:underline;
}
/* ABOUT US */
.about-us{
	width:100%;
	background-color:black;
	padding:20px;
	font-size:12px;
	color:#606161;
	overflow:hidden;
}
.about-us hr{
	width:80%;
	border-color:#333;
	margin:30px 0 0 140px;
}
.col-about{
	width:40%;
	float:left;
	margin-top:20px;
}
.col-about.text{
	margin-left:140px;
	line-height:20px;
}
.col-about.img img{
	float:right;
}
.col-about.img p{
	clear:both;
	float:right;
	font-weight:bold;
}
/* VERTICAL NAV */
.vertical-nav{
	position: fixed;
    right: 0;
    top: 200px;
    background-color: #4267B2;
}
.vertical-nav > div.item.sub{
	margin-top:-5px;
}
.vertical-nav > div.item:last-child{
	margin-bottom:-2px;
}
/* RESPONSIVE */
@media only screen and (max-width: 600px) {
	.load > img{
		width:40%;
		height:40%;
		position:absolute;
		top:30%;
		left:30%;
	}
  	#logo{
		padding:0 10px;
	}
	#logo img{
		max-width:100%;
		width:auto;
		height:60px;
		padding:10px 0;
	}
	#top-menu{
		padding:0;
	}
	#top-menu > ul > li{
		display: none;
	}
	#top-menu li.icon{
		float:right;
		display: block !important;
		font-size:24px;
		pointer-events:auto;
		cursor:pointer;
	}
	.vertical-nav{
		display:none;
	}
	.vertical-menu{
		background-color:#333;
		position:fixed;
		z-index:10000;
		top:0;
		height:100%;
	}
	.vertical-menu li{
		padding:10px;
		border-bottom:1px solid grey;
	}
	.vertical-menu a{
		text-decoration:none;
		color:white;
	}
	.vertical-menu input[type=text]{
		padding: 10px;
		margin: 20px 0;
		background-color: #ffffffd9;
		color: currentColor;
		border: none;
		font-size: 16px;
	}
	.owl-carousel{
		display:none !important;
	}
	.body{
		margin:0;
	}
	.body > ul{
		padding-left:100px;
	}
	.body > ul ~ h2{
		font-size:26px;
	}
	.body > h2 > span{
		margin:0;
	}
	.row.odd > .col-img, .row.odd > .col-text, .row.even > .col-img, .row.even > .col-text{
		float:none;
	}
	.row.odd > .col-img{
		margin:0;
		width:100%;
		padding:40px;
	}
	.row.odd > .col-text{
		padding: 40px;
    	width: 100%;
		margin:0;
	}
	.row.even{
		margin:0;
	}
	.row.even > .col-img, .row.even > .col-text{
		width:100%;
		padding:40px;
	}
	.contact{
		display:none;
	}
	.footer{
		padding-left:30px;
	}
	.col-foot.first{
		margin:0;
	}
	.col-foot{
		margin:0 20px;
	}
	.col-about{
		margin-top:20px;
		width:100%;
		float:none;
	}
	.about-us > hr{
		display:none;
	}
	.col-about.text{
		margin:0;
	}
	.col-about.img > img{
		float:none;
	}
	.col-about.img > p{
		float:none;
	}
	.wow{
		animation:none !important;
	}
}